@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');
body{
    background-color: hsl(30, 38%, 92%);
}
.middle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5cm;
}
img{
    height: 17cm;
    width: 10cm;
}
.top{
    letter-spacing: .2cm;
    color: hsl(228, 12%, 48%);
    margin-top: 1.5cm;
}
.right{
    background: hsl(0, 0%, 100%);
    height: 17cm;
    width: 10cm;
    text-align: left;
    padding-left: 1cm;
    padding-right: 1cm;    
}
.mobile{
        display: none;
}
h1{
    font-size: 51px;
    font-family: 'Fraunces', serif;
    font-weight: 700;
}
h2{
    font-family: 'Fraunces', sans-serif;
    font-size: 42px;
    font-weight: 700;
    color: hsl(158, 36%, 37%);
}
h4{
    font-family: 'Montserrat', serif;
    font-weight: 500;
    font-size: 22px;  
    color: hsl(228, 12%, 48%); 
    margin-bottom: auto;
}

.bottom{
    display: flex;
    gap: 1cm;
    align-items: center;
}
strike{
    color: hsl(228, 12%, 48%);
}
button{
    width: 9cm;
    height: 1.5cm;
    border-radius: 7px;
    font-family: 'Montserrat', serif;
    font-weight: 700;
    background: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
@media screen and (max-width:625px) {
    body{
        background-color: hsl(30, 38%, 92%);
        margin: 0;
    }
    .middle{
        display: flex;
        flex-direction: column;
    }
  .mobile{
        height: 12cm;
        width: 15cm;
        display: block;
    }
    .desktop{
        display: none;
    }
    .top{
        letter-spacing: .2cm;
        color: hsl(228, 12%, 48%);
        margin-top: 1.5cm;
    }
    .right{
        margin-top: 0;
        background: hsl(0, 0%, 100%);
        height: 17cm;
        width: 13cm;
        text-align: left; 
           
    }
    h1{
        font-size: 51px;
        font-family: 'Fraunces', serif;
        font-weight: 700;
    }
    h2{
        font-family: 'Fraunces', sans-serif;
        font-size: 42px;
        font-weight: 700;
        color: hsl(158, 36%, 37%);
    }
    h4{
        font-family: 'Montserrat', serif;
        font-weight: 500;
        font-size: 22px;  
        color: hsl(228, 12%, 48%); 
        margin-bottom: auto;
    }
    
    .bottom{
        display: flex;
        gap: 1cm;
        align-items: center;
    }
    strike{
        color: hsl(228, 12%, 48%);
    }
    button{
        width: 13cm;
        height: 1.5cm;
        border-radius: 7px;
        font-family: 'Montserrat', serif;
        font-weight: 700;
        background: hsl(158, 36%, 37%);
        color: hsl(0, 0%, 100%);
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
}

